<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Digital Designer</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/glacial-indifference" type="text/css" />
</head>

<body>
    <!-- Preloader -->
    <div id="loader" class="preloader preloader-bg"> <span class="loading">
            <span class="progress">
                <span class="bar-loading"></span>
            </span>
        </span>
    </div>
    <!-- Mobile Menu -->
    <div class="body-overlay"></div>
    <div id="box-mobile-menu" class="box-mobile-menu"> <a href="javascript:void(0);" id="back-menu" class="back-menu"><i class="ti-angle-left"></i></a> <span class="box-title"><img src="assets/img/logo.png" alt="Rudy Bond"></span>
        <a href="javascript:void(0);" class="close-menu"></a>
        <div class="box-inner"></div>
    </div>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg" id="header">
        <div class="container">
            <!-- Logo -->
            <!-- <a class="logo" href="index-2.html"> <img src="assets/img/favicon.png" alt="Rudy Bond"> </a><!-- assets/img/logo.png-->
            <a class="menu-bar mobile-navigation" href="javascript:void(0)"> <span class="menu-btn-icon"><span></span> <span></span><span></span></span>
            </a>
            <!-- Navigation -->
            <nav id="primary-navigation" class="site-navigation">
                <div class="main-menu-wrapper"></div>
                <div id="navbarSupportedContent" class="main-navigation" data-width="1007">
                    <ul id="menu-main-menu" class="nav menu-nav clone-main-menu main-menu">
                        <li class="nav-item menu-item page-active"> <a class="nav-link active" href="index-2.html#" data-scroll-nav="0">Home</a></li>
                        <li class="nav-item menu-item"> <a class="nav-link" href="index-2.html#" data-scroll-nav="1">About</a> </li>
                        <li class="nav-item menu-item"> <a class="nav-link" href="index-2.html#" data-scroll-nav="2">Services</a> </li>
                        <li class="nav-item menu-item"> <a class="nav-link" href="index-2.html#" data-scroll-nav="3">Works</a> </li>
                        <li class="nav-item menu-item"> <a class="nav-link" href="index-2.html#" data-scroll-nav="4">News</a> </li>
                        <li class="nav-item menu-item"> <a class="nav-link" href="index-2.html#" data-scroll-nav="5">Contact</a> </li>
                    </ul>
                </div>
            </nav>
        </div>
    </nav>
        <!-- Homepage -->
        <section id="home" class="hero-img" data-scroll-index="0">
            <div class="container">
                <div class="display-table">
                    <div class="table-cell">
                        <div class="rudy-hero-content">
                            <p>Hi there, I’m Rudy</p>
                            <h1>Digital Designer.</h1>
                            <button class="rudy-btn2" type="submit">Get in touch</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- About -->
        <section id="about" class="rudy-about-section" data-scroll-index="1">
            <div class="container">
                <div class="rudy-about-wrapper">
                    <div class="row">
                        <div class="col-md-10 offset-md-1">
                            <h2>About Me.</h2>
                        </div>
                        <div class="col-md-5 offset-md-1">
                            <div class="rudy-about-head">
                                <p>Hi, I’m Rudy Bond and <b>I am designer & developer</b> who dream making the world better place by creating captivating products. I am also very active for international clients.</p>
                                <p><span class="ti-check"></span> Available for new projects</p>
                                <ul class="rudy-about-social-link">
                                    <li><a href="index-2.html#"><i class="ti-dribbble"></i></a></li>
                                    <li><a href="index-2.html#"><i class="ti-instagram"></i></a></li>
                                    <li><a href="index-2.html#"><i class="ti-skype"></i></a></li>
                                    <li><a href="index-2.html#"><i class="ti-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-2 offset-md-1">
                            <div class="rudy-about-items">
                                <p><b>Design</b></p>
                                <p>Web Design</p>
                                <p>Prototyping</p>
                                <p>Branding</p>
                                <p>Illustration</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="rudy-about-items">
                                <p><b>Development</b></p>
                                <p>Websites</p>
                                <p>Native Apps</p>
                                <p>WordPress</p>
                                <p>eCommerce</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services -->
        <section id="services" class="padding" data-scroll-index="2">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title mb-40"> <span>What I Do</span>
                            <h2>Services.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="rudy-services-container">
                            <div class="rudy-services-img-area"><i class="et-tools"></i></div>
                            <div class="rudy-services-area">
                                <h4 class="rudy-services-heading">Web Design</h4>
                                <p>Dolores sit ipsum velit purus aliquet, massa fringilla leo the drana.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="rudy-services-container">
                            <div class="rudy-services-img-area"> <i class="et-browser"></i></div>
                            <div class="rudy-services-area">
                                <h4 class="rudy-services-heading">Web Development</h4>
                                <p>Dolores sit ipsum velit purus aliquet, massa fringilla leo the drana.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="rudy-services-container">
                            <div class="rudy-services-img-area"><i class="et-chat"></i></div>
                            <div class="rudy-services-area">
                                <h4 class="rudy-services-heading">Social Media</h4>
                                <p>Dolores sit ipsum velit purus aliquet, massa fringilla leo the drana.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="rudy-services-container">
                            <div class="rudy-services-img-area"><i class="et-strategy"></i></div>
                            <div class="rudy-services-area">
                                <h4 class="rudy-services-heading">Prototyping</h4>
                                <p>Dolores sit ipsum velit purus aliquet, massa fringilla leo the drana.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="rudy-services-container">
                            <div class="rudy-services-img-area"> <i class="et-lightbulb"></i></div>
                            <div class="rudy-services-area">
                                <h4 class="rudy-services-heading">Brand Identity</h4>
                                <p>Dolores sit ipsum velit purus aliquet, massa fringilla leo the drana.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="rudy-services-container">
                            <div class="rudy-services-img-area"><i class="et-search"></i></div>
                            <div class="rudy-services-area">
                                <h4 class="rudy-services-heading">SEO Optimization</h4>
                                <p>Dolores sit ipsum velit purus aliquet, massa fringilla leo the drana.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Works -->
        <section id="works" class="padding" data-scroll-index="3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title mb-40"> <span>Portfolio</span>
                            <h2>Creative Works.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="projectpage.html" class="desc">
                            <div class="rudy-works"> <img src="assets/img/portfolio/01.jpg" class="img-fluid" alt="">
                                <div class="desc">
                                    <div class="con">
                                        <h3>Website</h3> <span>House at Khlebny</span>
                                        <p><i class="ti-arrow-right"></i></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="projectpage.html" class="desc">
                            <div class="rudy-works"> <img src="assets/img/portfolio/02.jpg" class="img-fluid" alt="">
                                <div class="desc">
                                    <div class="con">
                                        <h3>Photo Shooting</h3> <span>Precious Magazine</span>
                                        <p><i class="ti-arrow-right"></i></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="projectpage.html" class="desc">
                            <div class="rudy-works"> <img src="assets/img/portfolio/03.jpg" class="img-fluid" alt="">
                                <div class="desc">
                                    <div class="con">
                                        <h3>Packaging</h3> <span>El Matate - Chocolate</span>
                                        <p><i class="ti-arrow-right"></i></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="projectpage.html" class="desc">
                            <div class="rudy-works"> <img src="assets/img/portfolio/04.jpg" class="img-fluid" alt="">
                                <div class="desc">
                                    <div class="con">
                                        <h3>Illustrations</h3> <span>Cycling illos</span>
                                        <p><i class="ti-arrow-right"></i></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="projectpage.html" class="desc">
                            <div class="rudy-works"> <img src="assets/img/portfolio/05.jpg" class="img-fluid" alt="">
                                <div class="desc">
                                    <div class="con">
                                        <h3>Kinfolk</h3> <span>Adobe InDesign</span>
                                        <p><i class="ti-arrow-right"></i></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="projectpage.html" class="desc">
                            <div class="rudy-works"> <img src="assets/img/portfolio/08.jpg" class="img-fluid" alt="">
                                <div class="desc">
                                    <div class="con">
                                        <h3>Eight</h3> <span>Adobe Illustration</span>
                                        <p><i class="ti-arrow-right"></i></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials -->
        <section id="testimonial" class="rudy-testimonial padding">
            <div class="container">
                <div class="row">
                    <div class="owl-carousel owl-theme col-md-12">
                        <div class="item">
                            <div class="row">
                                <div class="rudy-testimonial-img col-md-4 bg-img" data-background="img/references/01.jpg"></div>
                                <div class="cont col-md-8">
                                    <div class="title mb-40"> <span>Testimonials</span>
                                        <h2>What Clients Say.</h2>
                                    </div>
                                    <p>" Vivamus pulvinar ullamcorper est sed egestas. Integer vitae erat tempor interdum lacaliquam felis. Praesent hendrerit eros et arcu aliquet ornare. Nam egestas comodi dignissim. Duis tempor ipsum vitae nisl dapibus, vitae interdum massa hendrerio. The corhoncus orci ut eros tristique vulputate. "</p>
                                    <div class="info">
                                        <p>—</p> <span>John Brown</span>
                                        <p>CEO at Vivense</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="rudy-testimonial-img col-md-4 bg-img" data-background="img/references/02.jpg"></div>
                                <div class="cont col-md-8">
                                    <div class="title mb-40"> <span>Testimonials</span>
                                        <h2>What Clients Say.</h2>
                                    </div>
                                    <p>" Praesent pulvinar ullamcorper est sed egestas. Integer vitae erat tempor interdum lacaliquam felis. Vivamus hendrerit eros et arcu aliquet ornare. Nam egestas comodi dignissim. Duis tempor ipsum vitae nisl dapibus, vitae interdum massa hendrerio. The corhoncus orci ut eros tristique vulputate. "</p>
                                    <div class="info">
                                        <p>—</p> <span>Grill Juston</span>
                                        <p>CEO at TechPark</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- News -->
        <section id="blog" class="rudy-blog padding" data-scroll-index="4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title mb-40"> <span>Read</span>
                            <h2>Blog & News.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme">
                            <div class="item mb-40">
                                <div class="position-re o-hidden"> <img src="assets/img/blog/1.jpg" alt=""> </div>
                                <div class="con"> <span class="category">
                                        <a href="blog.html">Travel</a>
                                    </span>
                                    <h5><a href="post.html">Vivense intergeum egestas</a></h5> <a href="post.html"><i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="item mb-40">
                                <div class="position-re o-hidden"> <img src="assets/img/blog/2.jpg" alt=""> </div>
                                <div class="con"> <span class="category">
                                        <a href="blog.html">Branding</a>
                                    </span>
                                    <h5><a href="post.html">Hendrerio egestas vitate</a></h5> <a href="post.html"><i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="item mb-40">
                                <div class="position-re o-hidden"> <img src="assets/img/blog/3.jpg" alt=""> </div>
                                <div class="con"> <span class="category">
                                        <a href="blog.html">Art</a>
                                    </span>
                                    <h5><a href="post.html">Vivamus vivense dapibus</a></h5> <a href="post.html"><i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="item mb-40">
                                <div class="position-re o-hidden"> <img src="assets/img/blog/5.jpg" alt=""> </div>
                                <div class="con"> <span class="category">
                                        <a href="blog.html">Media</a>
                                    </span>
                                    <h5><a href="post.html">Vivamus egestas ullamcorper</a></h5> <a href="post.html"><i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="item mb-40">
                                <div class="position-re o-hidden"> <img src="assets/img/blog/4.jpg" alt=""> </div>
                                <div class="con"> <span class="category">
                                        <a href="blog.html">Travel</a>
                                    </span>
                                    <h5><a href="post.html">Ullamcorper vitate integers</a></h5> <a href="post.html"><i class="ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-40 text-center">
                        <a href="blog.html"><button class="rudy-btn2">All Archive</button></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Clients -->
        <div id="clients" class="rudy-client-section">
            <div class="container">
                <ul id="rudy-client-carousel" class="rudy-client-items owl-carousel">
                    <li class="rudy-client-item"> <img src="assets/img/clients/logo_google.png" alt=""> </li>
                    <li class="rudy-client-item"> <img src="assets/img/clients/logo_adobe.png" alt=""> </li>
                    <li class="rudy-client-item"> <img src="assets/img/clients/logo_bloom.png" alt=""> </li>
                    <li class="rudy-client-item"> <img src="assets/img/clients/logo_huawei.png" alt=""> </li>
                    <li class="rudy-client-item"> <img src="assets/img/clients/logo_paypal.png" alt=""> </li>
                    <li class="rudy-client-item"> <img src="assets/img/clients/logo_vmware.png" alt=""> </li>
                </ul>
            </div>
        </div>
        <!-- Banner -->
        <section class="rudy-banner rudy-section-padding bg-img bg-fixed" data-background="img/hero-bg.jpg" data-scroll-index="5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Do you like my work?</h2>
                            <h5>Let’s work together!</h5>
                            <button class="rudy-btn2" type="submit">Get in touch</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Footer -->
    <footer class="rudy-footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="brand"> Rudy<span>.</span></div>
                </div>
                <div class="col-md-3">
                    <p><b>Get in touch</b>
                        <br />info@rudybond.com</p>
                </div>
                <div class="col-md-3">
                    <p><b>Locations</b>
                        <br />San Francisco — Portland</p>
                </div>
                <div class="col-md-3">
                    <ul class="rudy-footer-social-link">
                        <li><a href="index-2.html#"><i class="ti-dribbble"></i></a></li>
                        <li><a href="index-2.html#"><i class="ti-instagram"></i></a></li>
                        <li><a href="index-2.html#"><i class="ti-skype"></i></a></li>
                        <li><a href="index-2.html#"><i class="ti-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
<router-outlet></router-outlet>
